---
layout: page
description: "分享开发技巧以及个人观点，关于互联网、趣味信息以及心情随笔的原创博客。"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}

        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}


        <div id="author_i_home">
            <div class="author_av_home">
                <img alt='' src='https://secure.gravatar.com/avatar/ef0a84e8fb973390d0a7eb34f3d35ef3?s=40&#038;d=monsterid&#038;r=x' srcset='https://secure.gravatar.com/avatar/ef0a84e8fb973390d0a7eb34f3d35ef3?s=80&amp;d=monsterid&amp;r=x 2x' class='avatar avatar-40 photo' height='40' width='40' /></div>
            <div class="po_author_home">
                <a href="https://kenengba.com/post/author/jason5ng32" title="由Jason Ng发布" rel="author">Jason Ng
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="glyphicons icon-calendar">
                </i>
                 <abbr title="2016-09-01T21:09:03+0800">2016 年 9 月 1 日 &#8211; 下午 9:09</abbr>
            </div>
        </div>


        <div class="post-content-preview">
            {{ post.description | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
