<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>



        <div id="secondary" class="col-md-4" role="complementary">
            <aside id="enhancedtextwidget-3" class="widget widget_text enhanced-text-widget">
                <h3 class="widget-title">

                    <i class="glyphicons icon-show-lines"> </i>
                    作者
                </h3>

                <div class="textwidget widget-text"><div id="author_i">

        <div class="author_av">

            <img alt='' src='https://secure.gravatar.com/avatar/ef0a84e8fb973390d0a7eb34f3d35ef3?s=60&#038;d=monsterid&#038;r=x' srcset='https://secure.gravatar.com/avatar/ef0a84e8fb973390d0a7eb34f3d35ef3?s=120&amp;d=monsterid&amp;r=x 2x' class='avatar avatar-60 photo' height='60' width='60' />

        </div>

        <div class="po_author">

            <a href="http://fussen.cc/about" title="由Fussen发布" rel="author">

                Fussen

            </a>
            <br/>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">首页</a>
                </li>
                {% for page in site.pages %}{% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->


    </div>
    <!-- /.container -->
</nav>
